<!DOCTYPE html>
<html>
    
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png" />
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <div><p>This Website is build by V.Akshy Kumar for learning Java-Script, Express and serve it on heroku.</p>
            <p>What does this App Do?     Give the name of a location and it will tell you the weather forecast.</p>
            <div>
        <img class="portrait" src='/img/robot.jpg'> 
        </div>       
        {{>footer}}
    </body>
    
</html>